body {
    background-color: #f7f7f7;
}

#bc_img {
    max-width: 100px;
}
#search1{
    max-width: 60%;
}
#container1{
    padding-top: 10%;
}
#input_div{
    padding-top: 15px;
}
#page2 {
    background-color: #58b792;
}

#table1 {
    margin: auto;
    max-width: 60%;
}